* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
.title {
  color: white;
}

.motto {
  color: white;
}


.home{
  text-align: center;
   margin-top:  250px;

}

.title, .motto {
  margin: 0px;
  padding: 0px;
  
}


.main-input{
  margin-top: 50px;
}

.loginDiv{
  height: 20em;
  width: 25em;
  background-color: black;
  opacity: .6;
  border-radius: 20px;
  text-align: center;
  margin: auto;
}

.username,.password {

  margin-top: 10%;
  font-size: 30px;
  background-color: white;
  border: none;
  opacity: .6;
  border-radius: 20px;
}