* { box-sizing: border-box; }

html{
  height:100%;
}
body {
  height:100%;
  position:relative;
}
.home{
  height:100%;
}
.app{
  height: 100%;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}

.title {
  color: white;
  font-size: 3.5em;
  font-family: 'Raleway',sans-serif;

}

.motto {
  color: white;
  font-size: 1.7em;
    font-family: 'Raleway',sans-serif;
  padding-bottom: 30px;
  font-weight: bold;
}


.home{
  text-align: center;

}

.title, .motto {
  margin: 0px;
  padding: 0px;

}


.loginDiv{
  height: 16em;
  width: 25em;
  background-color: black;
  background: rgba(0,0,0,0.8);
  border-radius: 20px;
  text-align: center;
  margin: auto;

}


.username,.password{

  margin-top: 20%;
  opacity: 1;
  display: flex;
  max-width: 250px;
  margin: auto;
  border: 0;
  border: 0.01px solid white;
  font-family: 'Raleway', sans-serif  ;
  font-weight:100;
  background-color: transparent;
  max-height: 60px;
  font-size: 1.5em;
  text-align: center;
  font-color: white;

}
.search-bar{
opacity: 1;
display: flex;
max-width: 250px;
margin: auto;
border: 0;
font-family: 'Raleway', sans-serif  ;
font-weight:100;
background-color: transparent;
max-height: 60px;
font-size: 1.5em;
text-align: center;
font-color: white;
}

textarea:focus, .username:focus, .password:focus {
    color: white ;
}

input, select, textarea{
    color:white;
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.5em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Google */
.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}
.loginBtn.loginBtn--google {
  margin-top: 40px;
  opacity: 1;
}
.main-headings{
  margin-bottom: 15px;
  margin-top: 215px;
}
.main-input {
  margin-top: 30px;

}
.main-login {
  display: flex;
  height: 40px;
  width: 210px;
  margin: auto;
  margin-top: 30px;
  border-color: 2px solid #d4fd02;
  color: white;
  font-size: 1.1em;
  font-family: 'Raleway', sans-serif;
  background-color: transparent;
  text-align: center;
  padding-left: 15px;
}

.log-in-container{
  padding-bottom: 10px;
}
.nav-bar {
  display: inline-block;
  float: right;

}
.nav-button{
  padding-right: 20px;
}
.profile-pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  vertical-align: middle;


}
.goog-img,.logged-in-name{
  display: inline-block;
}
.vacation-profile-pic {
  height: 80px;
  width: 80px;
  border-radius: 50%;

}
.inline1 {
  display: inline-block;
  padding-left: 10px;
}
.logged-in-as {
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 20px;
}

.vacation-logged-in-name{
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.vacation-logged-in-as{
  color: white;
  font-family: 'Raleway', sans-serif;
}
.logged-in-name {
  margin-bottom: 3px;
  margin-top:3px;
  font-size: 1em;
  font-family: 'Raleway',sans-serif;
  color: white;
  padding-right: 20px;
}
.search-box {
  position: absolute;
  top: 50%;
  width: 100%;
}


.player{
  height: 90px;
  width: 65px;
}
.player-div {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* OVERNIGHT templete--UPDATE LATER*/
/* EVERYTHING BELOW IS A COPY AND PASTE FOR THE NYT APP---- TRYING TO MAKE THE VACATIONS DATA LOOK RESPONSIVE*/



.article-div{
  margin-bottom: 10px;
  width: 100%;
  font-family: 'Sahitya', serif;
  border-radius: 18px;
  border: 1px solid #A9837E;
  padding: 0px;
  text-indent: 2em;
  padding-top: 30px;
  background: linear-gradient(to top, white 76%, white 30%, #4479BA 30%);
}

.container div .inner{
  border: 1px solid darkgrey;
  padding: 0px 10px;
  background-color: #EDEDED;
  width: 100%;
  border-radius: 5px;
  padding-top: 10px;
}


/*This styling below applies only to screens with more than 683px:*/
@media screen and (min-width: 683px) {
  .container{


    display: inline-block;
   margin:2px;
  }

  .article-div{
    width: 320px;
  }

  .container p {
    font-size: 10px;
  }

  .article-div:hover{
    box-shadow: 6px 5px 30px #505050;
  }
}



.indexBackground {
  background: none 0 100% no-repeat;
  position: absolute;
  left: 15%;
  border-radius: 1%;
  margin-right: 16px;
}



.PostingANewVacay{
   background-color: #4DB6AC;
   position: absolute;
   left: 20%;
}
.mainPageVacations {
  background: url('http://eskipaper.com/images/tropical-beach-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  height: 300%;
  top: 0; right: 0; bottom: 0; left: 0;

}

.sideNavigation {
width: 13%;
height: 100%;
position: absolute;
left: 1%;
background: none 0 100% no-repeat;
margin-top: 16px;
border-radius: 1%;
text-align: center;
}

.vacation-link{
  font-family:"Roboto", Roboto, arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 15px;
  background: transparent;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: transparent;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  text-decoration:none;
}
.logout-sidebar,.add-new-sidebar,.home-sidebar,.home-guest,.form-button{
  font-family:"Roboto", Roboto, arial, sans-serif;
  font-size: 1em;
  padding: 10px 15px;
  background: #4479BA;
  color: #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  text-decoration:none;
}
.vacation-link:hover {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}
.vacation-link:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}
.logout-sidebar:hover {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}
.logout-sidebar:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}
.home-sidebar:hover {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}
.home-sidebar:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}
.add-new-sidebar:hover {
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
}
.logout-sidebar {
  margin-bottom: 25px;
  width: 130px;
  height: 60px;
}
.add-new-sidebar,.home-sidebar{
  width: 130px;
  height: 60px;
  margin-bottom: 40px;
}
.home-sidebar{
    padding-right: 32px;
    padding-left: 36px;
    padding-top: 15px;
    padding-bottom: 20px;
}
.add-new-sidebar:active {
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
  background: #2E5481;
  border: solid 1px #203E5F;
}
.or{
  font-family: 'Raleway',sans-serif;
  color:white;
  font-size: 1.25em;

}
.form-button {
  padding-left: 10px;
  margin-left: 10px;
}
.form-style-6{
    font-family: 'Raleway', sans-serif;
    color: white;
    max-width: 500px;
    padding: 16px;
    position: absolute;
    left: 30%;
    top: 4%;
    border-radius:3%;
    background: linear-gradient(to top, #F7F7F7 76%, white 30%, #4479BA 30%);
}
.form-style-6.form-head{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="url"]

{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="url"]:focus
{
    box-shadow: 0 0 5px #4479BA;
    padding: 3%;
    border: 1px solid #4479BA;
}


.vacationsComponent{

    margin-top: 60px;
    margin-left: 20%;
    padding: 0px;
    height: 30%;
    width: 63%;
    background-color: black;
    background: rgba(0,0,0,0.8);
    border-radius: 20px;
  /*  text-align: center;*/
    /* margin: auto; */
    z-index: 100;
  text-align: center;
}

/*.innerVacay{
  padding:0px;
  margin:0px;
}*/

.vacayContainer{
  margin: 20px;
  width: 250px;
  height: 250px;

  display: inline-block;
/*  border-style: solid ;
  border-color: #815400;
  border-radius: 20px;
  border-width: .2px;*/
  
}
.vacayContainer{
  margin-top: 40px;
  background: #356094;
  border: solid 1px #2A4E77;
  text-decoration: none;
    background: transparent;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: transparent;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;

}

.vacayContainer:hover{
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}

.text{
  padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.innerv{
  margin-top: 80px;
}
.close{
  margin-bottom: 2%;
}


.MobileErrorMsg{
  height: 100%;
  width: 100%;
      margin: -8px;

}


.mobilepic{
background-size: cover;
  background-repeat: no-repeat;
   background-position: center; 
      width: 410px;
  height: 736px;
  background-image: url('http://res.cloudinary.com/sds-images/image/upload/v1503683593/397116cfeb922358ddbe60b559a87703_thw5ka.jpg');
}

.mobiletext{
margin: 0px;
    color: white;
    text-align: center;
    padding-top: 30%;
    font-weight: 100;
    padding-left: 20px;
    padding-right: 20px;
}

